body {
  background-color: #333;
}

.container {
  margin-top: 40px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bold {
  font-weight: bold;
}

.header {
  height: 50px;
  padding: 5px;
  background: #222222;
  color: #ffffff;
  position: relative;
  .navigation {
    position: absolute;
    left: 0;
    height: 50px;
    width: 200px;
    text-align: left;
    font-size: 18px;
    padding-top: 2px;
    padding-left: 5px;
  }
  .logo {
    position: absolute;
    font-size: 18px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
  }
  .window-actions {
    position: absolute;
    padding-top: 2px;
    right: 0;
    width: 200px;
    height: 50px;
    text-align: right;
  }
}

.header .btn, .header .btn:hover, .header .btn:focus {
  background: #222;
  outline: none;
}

.header .btn:hover {
  color: #999;
}