<form>
    <div class="form-group">
        <label>Text:</label>
        <input
            type="text"
            class="form-control"
            placeholder="your awesome text here"
            ng-model="component.text"
            ng-change="component.textChanged()">
    </div>
    <div class="form-group">
        <label style="color: {{ component.color }}">Color:</label>
        [ <button color-picker
            ng-model="component.color"
            color="{{ component.color }}"
            callback="component.styleChanged('color', value)">
            Color Picker
        </button> ]
        Color: {{ component.color }}
    </div>
</form>
