<form>
    <div class="form-group">
        <label>Text:</label>
        <input
            type="text"
            class="form-control"
            placeholder="your awesome text here"
            ng-model="component.settings.text"
            ng-change="component.textChanged()"
            ng-disabled="isDisabled">
    </div>
    <div class="form-group">
        <label>Color:</label>
        <color-picker
            class="color-preview"
            ng-model="component.settings.color"
            callback="component.styleChanged('color', value)">
            <div style="background: {{ component.settings.color }}"></div>
        </color-picker>
        <input
            type="text"
            class="form-control"
            value="{{ component.settings.color }}"
            ng-model="component.settings.color"
            ng-disabled="isDisabled">
    </div>
</form>
