.activity-stream {
  width: 300px;
  background: #eee;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;

  h1 {
    margin: 0;
    padding: 15px;
    font-size: 14px;
    color: #606060;
    border-bottom: 1px solid #e0e0e0;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    border-bottom: 1px solid #fcfcfc;
    &:first-child {
      border-top: 1px solid #fcfcfc;
    }
    &:last-child {
      border: none;
    }
    &:hover > div {
      background: #f5f5f5;
    }
    &:nth-child(2n) {
      background-color: #dedede;
      &:hover > div {
        background-color: #e3e3e3;
      }
    }
    &.item > div {
      position: relative;
      padding: 10px;
    }
    // 'animation' and 'transition' must have
    // the same duration to work properly
    &.item.ng-enter > div {
      -webkit-animation: add-item 2s;
    }
    &.item {
      position: relative;
      transition: none 2s;
      overflow: hidden;
    }
    &.item {
      a {
        font-weight: 700;
      }
      &.follower {
        border-left: 6px solid #5fa2dd;
      }
      &.hosted {
        border-left: 6px solid #c5a74a;
      }
      &.subscription {
        border-left: 6px solid #7bc54a;
      }
      &.hosting {
        border-left: 6px solid #c5a74a;
      }
      &.unhost {
        border-left: 6px solid #c5a74a;
      }
      &.donation {
        border-left: 6px solid #c54ac1;
      }

    }
  }
}

@-webkit-keyframes add-item {
  0% {
    max-height: 0;
    padding: 0 0 0 10px;
    background: rgba(255, 255, 230, 1);
  }
  20% {
    max-height: 100px;
    padding: 10px;
    background: rgba(255, 255, 230, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}
