<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Test Suite
            </div>
            <div class="panel-body" ng-include="'frontend/templates/partials/test.html'"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Server
            </div>
            <div class="panel-body">
                <button class="btn" ng-click="server.start()" ng-hide="server.isRunning()">Start TwitchOverlayServer</button>
                <span ng-show="server.isRunning()">
                    TwitchOverlayServer listening on <span class="label label-default">{{ip}}:{{config.port}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
