<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-paint-brush"></i> Overlay Design
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-plus"></i> Add Component <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="component in availableComponents" ng-click="create(component)"><a href="#">{{component}}</a></li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="toggleEditMode()">
                <i class="fa fa-cog"></i> {{ isDisabled ? "enter" : "leave" }} edit mode
            </button>

            <button class="btn btn-success" ng-click="saveSnapshot()">
                <i class="fa fa-save"></i> save snapshot
            </button>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-repeat="component in activeComponents">
    <div class="panel-heading">
        {{component.name}} <small class="text-muted">({{component._id}})</small>
    </div>
    <div class="panel-body">

        <form class="form-inline">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control input-sm"
                    ng-model="component.settings.left"
                    ng-change="component.styleChanged('left')"
                    ng-disabled="isDisabled">
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control input-sm"
                    ng-model="component.settings.top"
                    ng-change="component.styleChanged('top')"
                    ng-disabled="isDisabled">
            </div>
        </form>

        <hr>
        <div ng-include="'frontend/templates/components/' + component.name + '.html'"></div>
    </div>
</div>
