* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: green;
    font-family: HelveticaNeue-Light, Helvetica, Arial;
    overflow: hidden;
    color: #111111;
    -webkit-app-region: drag;
}

.widget {
    -webkit-app-region: no-drag;
}

header {
    color: #FFF;
    display: block;
    position: absolute;
    height: 100px;
    z-index: 10;
    left: 0;
    right: 0;
    text-align: center;
}

header > .topic-container {
    position: relative;
    background: #222;
    top: 6px;
    padding: 10px;
}
header > .topic {
    padding: 10px;
    font-size: 16px;
}

header > h1 {
    top: 10px;
    right: 0;
    left: 10px;
    font-size: 28px;
    position: absolute;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.logo {
    background: url("../img/logo.png");
    width: 200px;
    height: 200px;
    left: 10px;
    top: 10px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    color: #FFF;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    padding-left: 10px;
    text-align: right;
    z-index: 10;
}

footer > .raffle {
    text-align: right;
    font-size: 12px;
    background: #e7196e;
    display: inline-block;
    padding: 10px;
    padding-top: 8px;
}

.cam {
    width: 267px;
    height: 198px;
    border: 3px solid #e7196e;
    background: #333;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
}

.followers {
    color: #FFF;
    position: absolute;
    right: 0;
    background: #333;
    bottom: 76px;
    z-index: 100;
    padding: 8px;
    padding-right: 12px;
    font-size: 12px;
    height: 34px;
}

.newest-follower-container {
    color: #FFF;
    position: absolute;
    right: 0;
    background: #333;
    bottom: 38px;
    z-index: 100;
    padding: 8px;
    padding-right: 12px;
    font-size: 12px;
    height: 34px;
}

.newest-follower, .current-followers {
    font-weight: bold;
}

.new-follower {
    background-color: rgb(231, 35, 110);
    width: 400px;
    position: absolute;
    font-size: 12px;
    left: 50%;
    /* padding: 20px; */
    text-align: center;
    top: -100px;
    margin-left: -200px;
    transition: all 300ms;
    overflow: hidden;
    height: 64px;
}

.new-follower.showAlert {
    top: 100px;
}

.new-follower .user-text {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 400px;
    color: #FFF;
    font-size: 16px;
    padding-top: 20px;
}

.new-follower .user-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.schimmel-count-container {
    color: #FFF;
    position: absolute;
    left: 0;
    background: #333;
    bottom: 60px;
    z-index: 100;
    padding: 10px;
    padding-right: 20px;
    font-size: 24px;
    height: 34px;
}

highlight {
    color: rgb(231, 35, 110);
}

.new-follower > .new-follower-name {
    font-weight: bold;
}

.new-follower > .fa {
    font-size: 50px;
    position: absolute;
    left: 26px;
}

#chat .line {
    border-top: 1px solid #333;
    padding-top: 4px;
    padding-bottom: 4px;
}

#chat .line:first-child {
    border: none;
}

#chat .line span {
    padding: 2px;
}

#chat .line .time {
    padding-left: 0;
}

#chat .line .nick {
    color: #e7196e;
}

.nick {
    font-weight: bold;
}

.chat {
    color: #FFF;
    position: absolute;
    right: 5px;
    top: 206px;
    font-size: 12px;
    overflow: hidden;
}

#chat {
    color: #FFF;
    position: relative;
    max-height: 198px;
    width: 267px;
    font-size: 12px;
    height: auto;
    overflow: hidden;
    border: 3px solid #e7196e;
    z-index: 10;
    transition: all 200ms ease-out;
 }

#chat .line-container {
    background: #222;
    padding: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hide {
    display: none;
}

.backdrop {
    position: absolute;
    z-index: 999;
    background: #222222;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 300ms ease-in;
}

.backdrop.loaded {
    top: 1920px;
}

.connection-window {
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 300px;
    padding: 20px;
    left: 50%;
    top: 50%;
    background: #EEE;
    margin-left: -150px;
    margin-top: -150px;
    box-shadow: 0 0 2px #111;
}

.open-debug {
    position: absolute;
    z-index: 10000;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
}
