.panel-colorful {
    border-width: 0;

    .pad-ver {
        padding: 15px 0;
    }

    .mar-no {
        margin: 0;
    }

    &.panel-default {
        border-color: $btn-default-bg;
        > .panel-body {
            background-color: $btn-default-bg;
        }
    }
    &.panel-primary {
        border-color: $brand-primary;
        > .panel-body {
            background-color: $brand-primary;
        }
    }
    &.panel-success {
        border-color: $brand-success;
        > .panel-body {
            background-color: $brand-success;
        }
    }
    &.panel-info {
        border-color: $brand-info;
        > .panel-body {
            background-color: $brand-info;
        }
    }
    &.panel-warning {
        border-color: $brand-warning;
        > .panel-body {
            background-color: $brand-warning;
        }
    }
    &.panel-danger {
        border-color: $brand-danger;
        > .panel-body {
            background-color: $brand-danger;
        }
    }
}
