<ul class="list-unstyled">
    <li class="heading">Navigation</li>
    <li class="active">
        <a href="#" ui-sref="dashboard">
            <i class="fa fa-tachometer"></i>Dashboard
        </a>
    </li>
    <li><a href="#"><i class="fa fa-heart"></i>About</a></li>
    <li><a href="#"><i class="fa fa-question"></i>Help</a></li>
    <li class="heading">Settings</li>
    <li>
        <a href="#" ui-sref="design">
            <i class="fa fa-paint-brush"></i>Overlay Design
        </a>
    </li>
    <li><a href="#"><i class="fa fa-cogs"></i>Chat Bot</a></li>
    <li class="heading">External</li>
    <li>
        <a href="http://twitch-overlay.herokuapp.com/#/connect/127.0.0.1/1337" external>
            <i class="fa fa-circle-o"></i>Twitch Overlay Frontend
        </a>
    </li>
    <li>
        <a href="http://www.twitch.tv/xraymeta/dashboard" external>
            <i class="fa fa-twitch"></i>Twitch Dashboard
        </a>
    </li>
</ul>

<div id="created-by">
    <div class="created-text"></div>
    <h6>WeLoveTwitch</h6>
    <div class="heart"></div>
</div>