<div class="header">
    <div class="navigation">
        <!--<button class="btn btn-primary" ui-sref="home">-->
            <!--<i class="fa fa-home"></i>-->
        <!--</button>-->
        <button class="btn" ng-click="closeApplication()">
            <i class="fa fa-close"></i>
        </button>
    </div>
    <div class="logo">
        TwitchOverlay
    </div>
    <div class="window-actions">
        <button class="btn" ng-click="showDevTools()">
            <i class="fa fa-cog"></i>
        </button>
        <button class="btn" ng-click="reload()">
            <i class="fa fa-refresh"></i>
        </button>
        <button class="btn" ng-click="goFullscreen()">
            <i class="fa fa-expand"></i>
        </button>
    </div>
</div>
