<header style="-webkit-app-region: drag">
    <h1 class="logo"><b><highlight>spray</highlight>&<highlight>pray</highlight>.tv</b></h1>
    <!--<h1 class="topic"><highlight>Call of Duty: Advanced Warfare</highlight> Diamond League Clanwar</h1>-->
    <!--<h1 class="topic"><highlight>Random Saturday</highlight> Einfach ein paar gemütliche Runden</h1>-->
    <!--<h1 class="topic"><highlight>Random Saturday</highlight> Life Is Strange - Erste Staffel</h1>-->
    <!--<h1 class="topic"><highlight>Random Saturday</highlight> CoD:AW Exo Survival mit Benni, Martha und Julian</h1>-->
    <!--<h1 class="topic"><highlight>Random Saturday</highlight> CoD:AW Exo Survival mit Benni, Martha und Julian</h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Tuesday Night</highlight> mit Benni und Julian <i class="fa fa-gamepad"></i></h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Hardline Wednesday</highlight> mit Julian <i class="fa fa-gamepad"></i></h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Fantastic Friday</highlight> mit Martha, Benni und Julian <i class="fa fa-gamepad"></i></h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Sunday Morning Show</highlight> mit dem Julian und diversen Gästen <i class="fa fa-gamepad"></i></h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Epic Sunday Evening</highlight> mit dem Benni und dem Julian <i class="fa fa-gamepad"></i></h1>-->
    <!--<h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Marvelous Monday</highlight> mit dem Benni und dem Julian <i class="fa fa-gamepad"></i></h1>-->
    <h1 class="topic"><i class="fa fa-gamepad"></i> <highlight>Evolve</highlight> mit dem Benni und dem Julian und der Martha und so <i class="fa fa-gamepad"></i></h1>
</header>

<div class="cam"></div>

<chat class="chat" id="chat" chat-data="data.chat"></chat>

<div class="new-follower">
    <i class="fa fa-warning"></i>
    <span class="new-follower-name">julian</span>, you are awesome!
</div>
<div class="sidebar"></div>
<div class="followers">
    <i class="fa fa-users"></i>
    Followers: <span class="current-followers">{{data.follower.followerCurrent}}</span> / <span class="target-followers">{{data.follower.followerTarget}}</span>
</div>
<div class="newest-follower-container">
    <i class="fa fa-heart-o"></i>
    Latest follower: <span class="newest-follower">{{data.follower.followerNewest.name}}</span>
    <i class="fa fa-heart-o"></i>
</div>
<div class="schimmel-count-container hide">
    <i class="fa fa-bar-chart"></i>
    Schimmel Count: <span class="schimmel-count"></span>
</div>
<footer>
    <div class="raffle">
        <i class="fa fa-star-o"></i>
        20€ Amazon Gutschein Give-Away bei 100 Followern!
    </div>
</footer>