<div class="logo"></div>

<header style="-webkit-app-region: drag">
    <span class="topic-container">
        <span class="topic"><i class="fa fa-gamepad"></i> {{data.topic}} <i class="fa fa-gamepad"></i></span>
    </span>
</header>

<div class="cam"></div>

<follower-alert followers="data.follower.latestFollowers"></follower-alert>
<chat chat-data="data.chat"></chat>

<div class="sidebar"></div>
<div class="followers">
    <i class="fa fa-users"></i>
    Followers:
    <span class="current-followers">{{data.follower.followerCurrent}}</span>
    <span ng-show="data.followerTarget > 0"> / <span class="target-followers">{{data.followerTarget}}</span></span>
</div>
<div class="newest-follower-container">
    <i class="fa fa-heart-o"></i>
    Latest follower: <span class="newest-follower">{{data.follower.followerNewest.name}}</span>
    <i class="fa fa-heart-o"></i>
</div>
<div class="schimmel-count-container hide">
    <i class="fa fa-bar-chart"></i>
    Schimmel Count: <span class="schimmel-count"></span>
</div>
<footer>
    <div class="raffle" ng-show="data.subline">
        <i class="fa fa-star-o"></i>
        {{data.subline}}
    </div>
</footer>
<div class="backdrop" ng-class="{loaded: loaded}"></div>
<div class="connection-window" ng-show="showConnectionWindow">
    <form>
        <div class="form-group">
            <label for="host">Host</label>
            <input type="text" id="host" class="form-control" placeholder="localhost" ng-model="remote.host">
        </div>
        <div class="form-group">
            <label for="port">Port</label>
            <input type="text" id="port" class="form-control" placeholder="1337" ng-model="remote.port">
        </div>
        <button type="submit" class="btn btn-default" ng-click="connect()">connect</button>
    </form>
</div>
<div class="open-debug" ng-click="showDevTools()"></div>